<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/styles/mycss.css">
</head>
<body>
    <header>
        <nav>
            <ul class="flex">
                <li><a href="/">Accueil</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/list-contact">Liste des contacts</a></li>
            </ul>
        </nav>
    </header>
    <main>