<%- include('./shared/header') %>
    <h1>Ajouter un contact : </h1>
    <form method="POST">
        <div>
            <label for="name">Nom : </label>
            <input id="name" name="nom" type="text">
        </div>
        <div>
            <label for="prename">Prénom : </label>
            <input id="prename" name="prenom" type="text">
        </div>
        <div>
            <label for="email">Email : </label>
            <input id="email" name="email" type="email">
        </div>
        <div>
            <label for="phone">Téléphone : </label>
            <input id="phone" name="tel" type="tel">
        </div>
        <div>
            <input type="submit" value="Ajouter">
        </div>
    </form>

<%- include('./shared/footer') %>
