<%- include('./shared/header') %>
    <h1>Me contacter : </h1>
    <form method="POST">
        <div>
            <label for="name">Votre prénom : </label>
            <input id="name" name="name" type="text">
        </div>
        <div>
            <label for="msg">Votre message : </label>
            <textarea id="msg" name="msg"></textarea>
        </div>
        <div>
            <input type="submit" value="Envoyer le message">
        </div>
    </form>
<%- include('./shared/footer') %>