<%- include('./shared/header') %>
    <h1>Bienvenue sur la page d'accueil</h1>
    <h2>Aujourd'hui nous sommes le <%= today %></h2>
    <ul>
        <% for(const trainer of trainers) { %>
            <li> <%= trainer.firstname %> <%= trainer.lastname %> </li>
        <% } %>
    </ul>
    <img src="/images/Sopico.jpg" alt="sopico album"/>
    <img src="/images/tehvoice.png" alt="oui."/>
<%- include('./shared/footer') %>